<div class="col-md-8 col-md-offset-2">
    <h1 align="center">Sessions List</h1>
    <%=link_to "Create", new_session_url,class: "btn btn-success btn-sm" %>
    <table class="table table-striped">
        <td>Date</td>
        <td>Theater</td>
        <td>Movie</td>
        <td>Room</td>
        <td>Capacity</td>
        <td>Price</td>
        <td>Avaliable Tickets</td>
        <td></td>
        <td></td>
      </tr>
      <%@sessions.each do |session| %>
        <tr>
      <tr>
            <td> <%=session.date.strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= session.room.theater.name %></td>
            <td><%= session.movie.title%></td>
            <td> <%=session.room.id %></td>
            <td> <%=session.room.tickets %></td>
            <td> <%=session.price %></td>

            <td> <%= session.room.capacity - session.tickets.count %> </td>
            <td><%=link_to "Edit", edit_session_path(session),class: "btn btn-info btn-sm" %></td>
            <td> <%=link_to "Destroy",session_path(session),method: :delete, data: {confirm: "Are you sure?"},class: "btn btn-danger btn-sm"%> </td>
      </tr>

      <% end %>
    </table>

</div>

<style type="text/css">
  td
  {

    padding: 5px 10px 7px;
  }
  tr
  {
    padding:
  }
</style>