<!--TODO: add pagination-->
<div class="container">
<%= @sessions.size%>
	<% @sessions.each do |s| %>

		<table border="1" class="table">
			<tr>
				<th><%= s.movie.title %></th>
			</tr>
			<tr>
				<td>
					Date: 
					<%= s.date.strftime("%b, %d - %Y") %>
				</td>
				
			</tr>
			<tr>
				<td>
					Price:
					$<%= s.price %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Buy a ticket!", buy_ticket_user_path(current_user.id, session: s.id), method: :post %>
				</td>
			</tr>
			<!--End of table-->
		</table>
	<% end %>
<!-- End of container-->
</div>