


<div class="check-out-container col-md-4 col-md-offset-4">
	<%= render 'flash_messages' %>
	<h2>Check out</h2>
	<h3><%= @session.movie.title %></h3>
	<h5><%= @session.date.strftime("%b, %d - %Y") %></h5><br><br>

	<%= form_tag users_pay_path do%>
	<!-- Select chair-->
	<div class="chair-distribution">
		<table>
			<% count = 0 %>
			<% @row.times do |r| %>
				<tr>
					<% @col.times do |c| %>
						<th>
						<% chairId = "#{r}-#{c}"  %>
						<% if "#{@session.reservatedchairs}".include?(chairId) %> 
							<div id="chair-<%= "#{r}-#{c}" %>" class="reserved-chair">
								<img src='/assets/reservedchair-32.png' alt='ReservedChair'/>
							</div>	
						<% else %>
							<div id="chair-><%= "#{r}-#{c}" %>" class="chair">
								<img src='/assets/emptychair-32.png' alt='EmptyChair'/>
							</div>
						<% end %>

							
						</th>
						<% count = count+1 %>
					<% end %>
				</tr>
			<% end %>
		</table>
		

	</div>

	<!-- End Select chair -->
		<b>How many tickets do you want?</b>

		<%= select_tag :quantity, options_for_select(1..[@session.room.capacity-@session.tickets.count, @ntAvailable].min), class: "quantity", data: { quantity: 1 } %>

		<br><br>

		<b>Choose your payment method</b>
		<%= select_tag :method, options_for_select(["Credit", "Debit"]), class: "payment_option" %>
		<% puts :method %>
		<br><br>

		<div id="installments" style="display:<%= @price >= 30 ? "inline" : "none" %>">
		<b>You have installments options</b>
		<%= select_tag :installments, options_for_select(1..2), class: "installments", data: { quantity: 1 } %>
		<br><br>
		</div>


		<h4>Credit Card</h4>
		<b>Number</b>
		<input type="text" min="1000000000000000" max="9999999999999999" id="sessionNo" name="sessionNum" required="required"/><br><br>
		<b>Expiration date: </b>
		<%= select_tag :month, options_for_select(1..12) %>/
		<%= select_tag :year, options_for_select(2017..2025) %><br><br>
		<b>Security Code:</b>
		<input type="text" maxlength="3" id="sessionNo" name="sessionNum" required="required"/><br><br>
		<br><br>

		<h4>Your total:
	 	$<span id="total"><%= current_user.student ? @session.price/2 : @session.price %></span>
		</h4>
		
		<br>
		<%= hidden_field_tag :session_id, @session.id %>
		<%= submit_tag "Pay", class: "form-control btn btn-primary", 'data-disable-with' => "Please wait.." %>
	<% end %>
</div>

<script type="text/javascript">
//$(":input").inputmask();

var quantity = document.getElementsByClassName("quantity")[0].value;
var numberChairsSelected = 0;
var divsSelectedChair = [];

$(function() {
  $(document).on('change', '.quantity', function() {
    // this == the element that fired the change event
    var value = parseFloat("<%= @price %>");
    quantity = document.getElementsByClassName("quantity")[0].value;

    installmentsOptions(quantity);
    resetSelectedChairs();

    document.getElementById("total").innerHTML = (value*quantity).toFixed(2).toString();
  });
});

$(function() {
  $(document).on('change', '.payment_option', function() {
    // this == the element that fired the change event
    var value = parseFloat("<%= @price %>");
    quantity = document.getElementsByClassName("quantity")[0].value;
    installmentsOptions(quantity);

    document.getElementById("total").innerHTML = (value*quantity).toFixed(2).toString();
  });
});

function installmentsOptions(qt)
{
	var value = parseFloat("<%= @price %>");
    var payment_option = document.getElementsByClassName("payment_option")[0].value;
    if(payment_option.localeCompare("Credit") == 0)
	    if (value*qt >= 30)
	    	document.getElementById("installments").style.display = 'inline';
	    else
	    	document.getElementById("installments").style.display = 'none';
	else
		document.getElementById("installments").style.display = 'none';
}
window.onload = installmentsOptions;

//Reset all selected chairs
function resetSelectedChairs()
{

	divsSelectedChair.forEach(function(div){
		document.getElementById(div.id).innerHTML = "<img src='/assets/emptychair-32.png' alt='EmptyChair'/>";
	});
	divsSelectedChair = [];
	numberChairsSelected = 0;
}

//Select chairs
$(function(){
	$(document).on('click', '.chair', function(){
		
		selectChair(this)
	});
});

//javascript to select chairs
function selectChair(chairDiv)
{

	var statusChair = $(chairDiv).children("img").attr("alt");
	if(statusChair.localeCompare("EmptyChair") == 0 && numberChairsSelected < quantity){
		document.getElementById(chairDiv.id).innerHTML = "<img src='/assets/selectedchair-32.png' alt='SelectedChair'/>";
		numberChairsSelected++;
		divsSelectedChair.push(chairDiv);
	}else if((statusChair.localeCompare("SelectedChair"))== 0 ){
		numberChairsSelected--;
		document.getElementById(chairDiv.id).innerHTML = "<img src='/assets/emptychair-32.png' alt='EmptyChair'/>";
	}else{
		//TODO - print message for the limit of selected chairs
	}

}

</script>