<h1 align="center">Dashboard</h1>


<div class="col-md-8 col-md-offset-2">

	<%= link_to "Back to main", root_path, class: "btn btn-success" %>

	<div class="category">
		<h3>Users</h3>
		To edit, create and delete users click <%= link_to "here", users_path %>
	</div>	

	<!-- MOVIES -->
	<div class="category">
		<h3>Movies</h3>
		To edit, create and delete movies click <%= link_to "here", users_manage_movies_path %>
	</div>


	<!-- THEATERS -->
	<div class="category">
		<h3>Theaters</h3>
		To edit, create and delete theaters click <%= link_to "here", theaters_path %>
	</div>


	<!-- Rooms -->
	<div class="category">
		<h3>Rooms</h3>
		To edit, create and delete theater's rooms click <%= link_to "here", rooms_path %>
	</div>

	<div class="category">
		<h3>Sessions</h3>
		To edit, create and delete movie's sessions click <%= link_to "here", sessions_path %>
	</div>

	<div class="category">
		<h3>Rank</h3>
		To view the rank of 10 most watched movies click <%= link_to "here", {:controller => 'tickets',
						:action => 'rank'} %>
	</div>


</div>