<div class="col-md-4 col-md-offset-4">
    <h1 align="center">Edit Room</h1>
    <%= form_for(@room) do |r| %>
        <%= r.collection_select :theater_id, Theater.all,:id,:name,include_blank: false, class: "form-control"%><br><br>

        <%= r.label :size%>
        <%= r.collection_select :template_id, ::Template.all,:id,:print_template,class: "form-control"%>

        <%= r.submit "Register", class: "form-control btn-primary" %>
    <% end %>
</div>