<div class="col-md-4 col-md-offset-4">
<h1 align="center">Theater</h1>
    <%= form_for(@theater) do |t| %>
        <%= t.label :name %>
        <%= t.text_field :name, required: true, class: "form-control" %><br>

        <%= t.label :address %>
        <%= t.text_field :address, required: true, class: "form-control" %><br>

        <%= t.submit "Register", class: "form-control btn-primary" %>
    <% end %>
    <br>
    <%= link_to "Cancel", theaters_path, class: "btn btn-danger" %>
</div>