<!DOCTYPE html>
<html>
  <head>
    <title>MovieAndChill</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if current_user.present? %>
      <%= "Logged in as: #{current_user.name} (#{current_user.email})" %>
      <br>
      <% current_user.tickets.inspect %>
    <% end %>
  <div class="page-header"></div>
  <%= yield %>

  </body>
</html>
